ObjectControllers/Web References/AbserSer/xsd2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ITS_WS.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ITS_WS.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAbuser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Abuser" nillable="true" type="tns:Abuser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAbuser" nillable="true" type="tns:ArrayOfAbuser" />
  <xs:complexType name="Abuser">
    <xs:sequence>
      <xs:element minOccurs="0" name="ABRID" type="xs:int" />
      <xs:element minOccurs="0" name="ArbitrationFlag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CriminalFlag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KnownAs" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KnownAs2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OtherDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SurName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dob" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="inccatdesc" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Abuser" nillable="true" type="tns:Abuser" />
  <xs:complexType name="Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="result" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Result" nillable="true" type="tns:Result" />
</xs:schema>